:root {
	--bg-color: #ddb74d;
	--bg-color-dark: #e28800;
	--bg-color-darker: #d06000;
}

body {
	background-color: var(--bg-color);
	font-family: Arial;
	overflow-y: scroll;
}
body::-webkit-scrollbar {
	width: 0.8em;
	height: 0.8em;
}
body::-webkit-scrollbar-thumb {
	background-color: var(--bg-color-dark);
}
body::-webkit-scrollbar-thumb:hover {
	background-color: var(--bg-color-darker);
}
body::-webkit-scrollbar-corner {
	background-color: var(--bg-color);
}
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

button{
	background-color: var(--bg-color-dark);
}
button:hover:enabled {
	background-color: #ffdd48;
	cursor: pointer;
}

.bold {
	font-weight: bold;
}
.big {
	height: 3ch;
	min-width: 12ch;
	font-size: 16px;
}

textarea {
	width: min(600px, 100%);
	height: 500px;
	font-size: 16px;
}

dialog {
	position: fixed;
	margin: 0;
	top: 100px;
	left: 50%;
	transform: translate(-50%, 0);
	max-width: 65ch;
	overflow-y: auto;
	max-height: calc(100vh - 150px);
	
	color: white;
	padding: 1ch;
	line-height: 2ch;
	text-align: center;
	background: rgba(0, 0, 0, 0.9);
	overscroll-behavior: contain;
}
.dialog-button {
	width: 12ch;
	height: 4ch;
}
.textinput {
	font-size: 16px;
}
.notaInline {
	margin: 0;
	display: inline-block;
	font-size: 14px;
}
@keyframes fade-out {
	from {opacity: 1;}
	to {opacity: 0;}
}
.fadeOut {
	animation: fade-out 2s 5s;
	animation-fill-mode: forwards;
}
.fixedbl {
	margin: 0;
	position: fixed;
	bottom: 20px;
	left: 20px;
}
.button-container {
	display: flex;
	margin-top: 7px;
	margin-bottom: 7px;
	gap: 10px;
	justify-content: flex-start; /* Align items starting from the left edge */
}
.separate {
	margin-left: 70px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.plot {
	width: 800px;
	height: 400px;
	background-color:  rgba(0, 0, 0, 0.9);
	margin-top:12px;
	margin-bottom: 12px;
}
.hidden {
	visibility: hidden
}

select:disabled {
    color: rgba(16, 16, 16, 0.3);
    border-color: rgba(118, 118, 118, 0.3);
}
.selector {
	max-width: 40ch;
	background-color: var(--bg-color-dark);
	border-width: 2px;
	color: black;
	border-color: var(--transparentWhiteB);
}
.selector option {
	background-color: var(--bg-color-dark);
	color: black;
}
option:hover{
	background-color: #ffdd48;
}
.selector:hover:enabled {
	background-color: #ffdd48;
	cursor: pointer;
}

.grid-square-tiles {
	display: grid;
	text-align: center;
	grid-template-columns: repeat(auto-fit, minmax(10ch, 0.333fr));
	gap: 10px;
	margin-top: 1ch;
}
.grid-strip {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	gap: 0.5ch;
	margin-top: 1ch;
}
.grid-tile-square {
	background-color: lightblue;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.grid-tile-strip {
	background-color: lightblue;
	display: flex;
	align-items: center;
	padding-left: 1ch;
	justify-content: left;
	height: 3ch;
	cursor: pointer;
}
.add-grid-tile {
	background-color: lightgreen;
}

.inline-button-container {
	margin: 1ch 0;
	display: flex;
	gap: 10px;
	text-align: center;
	box-sizing: border-box;
}
.options-container >* {
	font-size: x-large;
	width: 80%;
	min-height: 4ch;
	display: block;
	margin: 0.5ch auto 0.5ch auto ;
}
.inline-button-container > * {
	font-size: x-large;
	flex: 1 1 auto; /* Grow equally unless one needs more space */
	/*min-width: 0; /* Prevent flex items from overflowing */
	min-height: 3.7ch;
	line-height: 0.8;
	max-height: 80px;
	/*white-space: nowrap; /* Prevent text wrapping */
}
#search {
	font-size: xx-large;
	width: 100%;
}


.add-item-entry {
	display: flex;
	font-size: x-large;
	margin: 1ch 0;
	white-space: nowrap;
}
.add-item-entry input {
	font-size: inherit;
	width: 100%;
	margin-left: 1ch;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-calendar-picker-indicator {
	position:absolute;
	right: 0;
}
@media (pointer: coarse) or (max-aspect-ratio: 1/1) {
	input::-webkit-calendar-picker-indicator {
		position:absolute;
		pointer-events: none;
		color:transparent;
	}
}

h1 {
	text-align: center;
}

.invalid {
	color: red;
	border-style: solid;
}